

###############################################################################
# MSVC project files
*.opensdf
*.opendb
*.sdf
*.suo
#*.vcxproj.filters
*.vcxproj.user
*.VC.db
ipch/
.vs

###############################################################################
# Compilation
solution/Build/

###############################################################################
# Local misc directories
2011/*
2013/*
Misc/*
tmp/*

bak